<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}"> 
<link rel="stylesheet" href="../static/style/sh.css" type="text/css" th:href="@{../static/style/sh.css}"> 
	
<!-- Vendor CSS Files -->
<link href="../static/style/bootstrap.min.css"
	rel="stylesheet" type="text/css"
	th:href="@{../static/style/bootstrap.min.css}" />
<!-- Template Main CSS File -->
<link href="../static/style/style.css" rel="stylesheet" type="text/css"
	th:href="@{../static/style/style.css}" />
</head>
<body>
<div th:insert="~{header :: #top}"></div>

     <!-- 로그인 -->
     <div class="login-wrap">
         <form th:action="@{/login}" method="post">
	      <input th:if="${signonForwardAction}" type="hidden" name="forwardAction"
	        th:value="${signonForwardAction}"/>
             <fieldset>
                 <div class="login_content">
                     <h5 class="ir_su">로그인 영역</h5>
                     <div class="lc_text">
                         <label for="uid" class="ir_su">아이디</label>
                         <input type="text" name="email" size="20">
                         <label for="upw" class="ir_su">비밀번호</label>
                         <input type="password" name="password" size="20">
                     </div>
                     <input type="submit" value="로그인"/>
                 </div>
                 

<div class="form-style form-style-four">
   <div class="row">
      <div class="col-lg">
         <div class="form-input mt-5">
            <form action="#">
               <label>Enter userid</label>
               <div class="input-items default">
                  <input type="text" placeholder="Default" />
                  <i class="lni lni-user"></i>
               </div>
            </form>
         </div>
         <!-- form input -->
      </div>
      <div class="col-lg">
         <div class="form-input mt-5">
            <form action="#">
               <label>Enter userid</label>
               <div class="input-items active">
                  <input type="text" placeholder="Active" />
                  <i class="lni lni-user"></i>
               </div>
            </form>
         </div>
         <!-- form input -->
      </div>
      <div class="col-lg">
         <div class="form-input mt-5 form-group">
            <form action="#" data-toggle="validator">
               <label>Enter userid</label>
               <div class="input-items error">
                  <input type="text" placeholder="Error!" data-error="Please enter your userid" required />
                  <i class="lni lni-user"></i>
               </div>
               <div class="help-block with-errors"></div>
            </form>
         </div>
         <!-- form input -->
      </div>
      <div class="col-lg">
         <div class="form-input mt-5">
            <form action="#">
               <label>Enter userid</label>
               <div class="input-items success">
                  <input type="text" placeholder="Success" />
                  <i class="lni lni-user"></i>
               </div>
            </form>
         </div>
         <!-- form input -->
      </div>
      <div class="col-lg">
         <div class="form-input mt-5">
            <form action="#">
               <label>Enter userid</label>
               <div class="input-items disabled">
                  <input type="text" placeholder="Disabled" disabled />
                  <i class="lni lni-user"></i>
               </div>
            </form>
         </div>
         <!-- form input -->
      </div>
   </div>
   <!-- row -->
</div>
<!-- form-style -->

             </fieldset>
         </form>
     </div>
     <!-- //로그인 -->
</body>
</html>