<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>식몰</title>
   	<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}"> 
</head>
<body onload="init();">
	<div th:insert="~{header :: #top}"></div>
	<h2>제품 목록</h2>
	<!--얘도 변수명하고 연결 안되서 에러 <h3 th:text="${category.name}">카테고리 이름</h3>-->
	<h3 th:text="${categoryName}">카테고리 이름</h3>
	<div align="center" class="noLineTable">
	  카테고리: <a href="" th:href="@{/product/list}">전체</a> | <a href="" th:href="@{/product/list?categoryId=c1}">꽃</a> | <a href="" th:href="@{/product/list?categoryId=c2}">야생화</a> | <a href="" th:href="@{/product/list?categoryId=c3}">허브</a> | <a href="" th:href="@{/product/list?categoryId=c4}">나무</a> | <a href="" th:href="@{/product/list?categoryId=c5}">다육</a> | <a href="" th:href="@{/product/list?categoryId=c6}">해조</a> | <a href="" th:href="@{/product/list?categoryId=c7}">원예용품</a>
		<table>
			<tr th:each="miniProductList, iterStat : ${productList}">
				<td th:each="product, miniIterStat : ${miniProductList}">
					<a href="" th:href="@{/product/detail?productId=}+${product.productId}" name="productId" value="${product.productId}">				
		 				<img th:src="@{/images/}+${product.productImg}" style="width:200px;height:200px" alt="제품사진">			<!-- 이미지도 jpetstore예제 보면 아예 img태그 자체가 db에 저장되어있음.jpetstore/src/main/resources/db/hsqldb/jpetstore.script -->	
		 				<div th:text="${userNameList.get(iterStat.index).get(miniIterStat.index)}">판매자명</div>
 						<div th:text="${product.p_name}">제품명</div>
						<div th:text="${product.price}+원">가격</div>
					</a>
					
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
        