<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>식몰</title>
   	<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}"> 
</head>
<body>
	<div th:insert="~{header :: #top}"></div>
	<h2>제품 목록</h2>
	<!--얘도 변수명하고 연결 안되서 에러 <h3 th:text="${category.name}">카테고리 이름</h3>-->
	<h3>카테고리 이름</h3>
	<div align="center">
	  카테고리: <a href="" th:href="@{#}">꽃</a> | <a href="" th:href="@{#}">야생화</a> | <a href="" th:href="@{#}">허브</a> | <a href="" th:href="@{#}">나무</a> | <a href="" th:href="@{#}">다육</a> | <a href="" th:href="@{#}">해조</a>
		<table>
			<!-- 현재: 한 행당 4개씩이 아닌, 한 행에 한 제품이 출력되는 형태. 4줄씩 나눠서 출력해야하는데 어떻게하죠? -->
<!--  이것저것 변수명하고 연결 안돼서 이거 때매 에러남, 추후 다 연결되면 주석 해제하고 확인
			<tr th:each="product : ${productList.pageList}">
				<td>
					<a href="" th:href="@{/product/detail}" name="productId" value="${product.productId}">				
						<img th:src="${product.img}" style="width:200px">			<!-- 이미지도 jpetstore예제 보면 아예 img태그 자체가 db에 저장되어있음.jpetstore/src/main/resources/db/hsqldb/jpetstore.script -->	
	<!-- 				<div th:text="${product.userName}">판매자명</div> <!-- product 테이블엔 userName이 존재하지 않음. -->
<!-- 					<div th:text="${product.name}">제품명</div>
						<div th:text="${product.price}">가격</div>
					</a>
					
				</td>
			</tr> -->
			<tr>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
			<td>
				<a href="#">
					<img th:src="@{/images/temp.jpg}" style="width:200px">				
					<div>판매자</div>
					<div>제품명</div>
					<div>가격</div>
				</a>
			</td>
		</tr>
		</table>
	</div>
</body>
</html>
        