<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>식몰</title>
   	<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}"> 
</head>
<body onload="init();">
	<div th:insert="~{header :: #top}"></div>
	<h2>BEST 제품 목록</h2>
	<h3>최근 3개월간 주문량이 많은 제품입니다</h3>
	<div align="center">
		<table class="noLineTable">
			<tr th:each="miniProductList, iterStat : ${productList}">
				<td th:each="product, miniIterStat : ${miniProductList}">
					<a href="" th:href="@{/product/detail?productId=}+${product.productId}" name="productId" value="${product.productId}">				
		 				<img alt="등록된 이미지가 없습니다" th:src="@{/getByteImage?p_name=}+${product.p_name}" style="width:200px; height:200px;" />
						<div th:text="${userNameList.get(iterStat.index).get(miniIterStat.index)}">판매자명</div>
 						<div th:text="${product.p_name}">제품명</div>
						<div th:text="${product.price}+원">가격</div>
					</a>
					
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
        