<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>식몰</title>
   	<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}"> 
</head>
<body onload="init();">
	<div th:insert="~{header :: #top}"></div>
	<h2>제품 관리 목록
		<a th:href="@{/product/registration?userId=}+${userId}">
			<button type="button">새 제품 등록</button>
		</a>
	</h2>
	<div align="center">
	 	<table class="noLineTable">
			<tr th:each="miniProductList, iterStat : ${productList}">
				<td th:each="product, miniIterStat : ${miniProductList}">
	 				<img alt="등록된 이미지가 없습니다" th:src="@{/getByteImage?p_name=}+${product.p_name}" style="width:200px;height:200px">	
	 				<div th:text="${product.p_name}">제품명</div>
					<div th:text="${product.price}+원">가격</div>
					<div>
						<a th:href="@{/product/modify?userId=}+${userId}+@{&productId=}+${product.productId}">
							<button type="button">수정</button>
						</a>
						<a th:href="@{/product/delete?userId=}+${userId}+@{&productId=}+${product.productId}">
							<button type="button">삭제</button>
						</a>
					</div>					
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
        