<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}"> 
</head>
<body>
<div th:insert="~{header :: #top}"></div>

	
	<h2>펀딩 목록</h2>
	<p style="text-align: center;"><a href=""> 꽃</a> | <a href=""> 야생화</a> <a href=""> 허브</a> | <a href=""> 나무</a>| <a href=""> 다육</a></p>
	<div align="center">
		<table class="noLineTable">
			<tr th:each="funding : ${fundingList}">
				<td>
					<a href="" th:href="@{/funding/{fundingId}(fundingId=${funding.fundingId})}" name="productId" value="${funding.productId}">				
		 				<img alt="등록된 이미지가 없습니다" th:src="@{/getByteImage?p_name=}+${funding.p_name}" style="width:200px; height:200px;" />
		 				
						<div th:text="|${#dates.format(funding.openDate,'yy.MM.dd')}~${#dates.format(funding.closeDate,'yy.MM.dd')}|">22-04-09 ~ 22-04-20</div>
 						<div th:text="${funding.title}">제품명</div>
						<div th:text="(${funding.orderNum}/${funding.targetQuantity})*100+'%'">달성률</div>
					</a>
					
				</td>
			</tr>
		</table>
		</div>
</body>
</html>