<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<table style="border-collapse: collapse; width: 100%; height: 144px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;"><strong>주문번호</strong></td>
<td style="width: 33.3333%; text-align: center; height: 18px;"><strong>주문요약</strong></td>
<td style="width: 33.3333%; text-align: center; height: 18px;"><strong>주문상태</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;"><a href="${order.ordernumber} ">202203011234</a></td>
<td style="width: 33.3333%; text-align: center; height: 18px;">다육이 3종 세트 - 01번</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">펀딩 신청 완료(배달중)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;"><a href="${order.ordernumber}">202204120283</a></td>
<td style="width: 33.3333%; text-align: center; height: 18px;">랜덤 야생화 - 03번</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">펀딩 신청 완료(완료)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;"><a href="${order.ordernumber}">2022042203711</a></td>
<td style="width: 33.3333%; text-align: center; height: 18px;">분갈이 세트 - 02번</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">펀딩 신청 완료(진행중)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
</body>
</html>