<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
<div class="includeEnquiry" th:fragment="includeEnquiry">
		<div class="createEnq">
			<div class="navSideBtn">
				<a th:href="@{/enquiry/newEnquiry(productId=${product.productId})}" class="enqButton">문의하기</a>
			</div>
		</div>
		<table class="enquiryElements">
			<tbody>
				<tr th:if="${#lists.size(enquiryList)} == 0">
					<td style="text-align:center;" colspan="8">문의 내역이 없습니다.</td>
				</tr>
				<tr th:each="enquiry: ${enquiryList}">
					<td>
						<div class="enquiry">
							<div class="miniTab">
								<span th:text="${enquiry.userName}">서가람</span>
								<span th:text="${#dates.format(enquiry.enquiryDate, 'yyyy.MM.dd HH:mm')}">2022-04-15</span>
								<div class="updateReview" th:if="${#strings.equals(enquiry.userId,'test')} and ${enquiry.enqComm} == null">
									<a href="#" class="updateEnq" th:href="@{/enquiry/updateEnquiryForm(enquiryId=${enquiry.enquiryId})}">수정</a>
								</div>
								<div class="updateReview" th:if="${#strings.equals(seller,'admin')} and ${enquiry.enqComm} == null">
									<a href="javascript:void(0)" class="updateEnq enqCommentBtn" th:onclick="commentFunction([[${enquiry.enquiryId}]], [[${seller}]])">답변 달기</a>
								</div>
							</div>
							<div class="question">
								Q
								<span th:text="${enquiry.enqContent}">문의내역</span>
								<textarea rows="3" cols="100" class="enqCommentText" th:attr="data-enqNum=${enquiry.enquiryId}" style="border: 1px solid;"></textarea>
							</div>
							<div class="answer" th:if="${enquiry.enqComm} != null">
								<div class="replyCell">
									<div class="info">
										<span th:text="${seller}">판매 회원 이름</span>
									</div>
									<div class="replyText">
										<span th:text="${enquiry.enqcomm.enqComm}">답변</span>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>