<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>식몰</title>
<link rel="stylesheet" href="../../static/style/garam.css" type="text/css" >
</head>
<body>
<hr>
	<div class="orderPage">
		<div class="pageTitle">
			<b><span th:text="${#dates.format(order.orderDate, 'yyyy.MM.dd')}">2022.04.09</span> 주문 상세보기</b>
		</div>	
		<div class="orderDetail">
			<div class="orderList">
				<table class="orderElement">
					<tbody>
						<tr th:each="lineItem: ${order.lineItems}">
							<td>
								<div class="orderContents">
									<div class="imgBox">
										<!-- <img src="" th:attr="src=@{/images/}/> -->
										이미지
									</div>
									<div class="content">
										<span th:text="${lineItem.product.p_name}">제품 이름</span>
										<br><br>
										<br><br>
										수량: <span class="quantity" th:text="${lineItem.quantity}">1</span>개
										<p class="itemPrice"><span th:text="${lineItem.unitPrice">16000</span>원</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="priceSum">
								<p>총 결제 금액: <span th:text="${order.totalPrice}">16000</span>원</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="orderInfo">
			<div class="formWrap">
				<div class="formTitle">주문자 정보</div>
				<div class="formRow">
					<div class="formCol head">이름</div>
					<div class="formCol body">
						<span th:text="${order.userName}">서가람</span>
					</div>
				</div>
				<div class="formRow">
					<div class="formCol head">휴대폰</div>
					<div class="formCol body">
						<span th:text="${order.phoneNumber}">01012345678</span>	
					</div>
				</div>
				<div class="formRow">
					<div class="formCol head">주소</div>
					<div class="formCol body">
						<span th:text="${order.billAddress}">경기도 어쩌고 저쩌고</span>	
					</div>
				</div>
			</div>
			<!-- 결제 정보 -->
			<div class="formWrap">
				<div class="formTitle">결제 정보</div>
				<div class="formRow">
					<div class="formCol head">카드 타입</div>
					<div class="formCol body">
						<span th:text="${order.cartType}">Visa</span>	
					</div>
				</div>
				<div class="formRow">
					<div class="formCol head">카드 번호</div>
					<div class="formCol body">
						<span th:text="${order.creditCard}">99999999999</span>	
					</div>
				</div>
				<div class="formRow">
					<div class="formCol head">유호기간 (MM/YY)</div>
					<div class="formCol body">
						<span th:text="${order.expiryDate}">25/09</span>	
					</div>
				</div>
			</div>
		</div>
		<div>
			<a href="#" class="button" th:href="@{/order/list}">확인</a>
		</div>
	</div>
</body>
</html>