<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.plantmall.dao.mybatis.mapper.FundingMapper">

    <!-- Funding 전체 목록 -->
    <select id="getAllFundingList" resultType="Funding">
    	SELECT 
    		F.*,P.*
    	FROM FUNDING F, PRODUCT P
    	WHERE F.PRODUCTID=P.PRODUCTID
    </select>
   
    
    <select id="getMyAllProductListByUserEmail" parameterType="String" resultType="Product">
	    SELECT 
	    	PRODUCTID,
	    	CATEGORYID,
	    	PNAME AS p_name,
	    	DESCRIPTION,
	    	PRICE,
	    	PRODUCTIMG,
	    	USERID,
	    	TARGETQUANTITY,
	    	DELIVERYDATE
	      FROM PRODUCT
	      WHERE PRODUCT.USERID =#{param1}
	      
    </select>
    
    <insert id="insertFunding" parameterType="Funding">
    	INSERT INTO FUNDING
    	(FUNDINGID,
	    	PRODUCTID,
	    	PRODUCTINFORMATION,
	    	TITLE,
	    	OPENDATE,
	    	CLOSEDATE,
	    	TARGETQUANTITY,
	    	DELIVERYDATE,
	    	SELLERID
	    	)
    	VALUES
    	(#{fundingId},#{productId},#{productInformation},#{title},#{openDate},#{closeDate},#{targetQuantity},#{deliveryDate},#{sellerId})
    	<selectKey keyProperty="fundingId" resultType="String" order="BEFORE">
			SELECT FUNDING_SEQ.NEXTVAL AS fundingId FROM DUAL
		</selectKey>
    </insert>

    <select id="getFundingById" resultType="Funding">
	    SELECT
			FUNDINGID,
	    	PRODUCTID,
	    	PRODUCTINFORMATION,
	    	TITLE,
	    	OPENDATE,
	    	CLOSEDATE,
 		    TARGETQUANTITY,
	    	DELIVERYDATE
	    FROM FUNDING
	    WHERE FUNDING.FUNDINGID = #{param1}
  </select>
  
  <update id="updateFunding" parameterType="Funding">
  	UPDATE FUNDING SET
	    	PRODUCTID =#{productId},
	    	PRODUCTINFORMATION =#{productInformation},
	    	TITLE =#{title},
	    	OPENDATE =#{openDate},
	    	CLOSEDATE =#{closeDate},
	    	UPDATE_AT =SYSDATE,
	    	TARGETQUANTITY =#{targetQuantity},
	    	DELIVERYDATE =#{deliveryDate}
   WHERE FUNDING.FUNDINGID =#{fundingId}
  	
  </update>
  
  <delete id="deleteFunding">
  	DELETE FROM FUNDING
  	WHERE FUNDINGID = #{param1}
  </delete>
  
</mapper>