<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.plantmall.dao.mybatis.mapper.FundingMapper">
 
    <!-- Funding 전체 목록 -->
    <select id="getAllFundingList" resultType="Funding">
    	SELECT F.*, P.PRODUCTIMG
    	FROM FUNDING F, PRODUCT P
    	WHERE F.PRODUCTID=P.PRODUCTID
    </select>
    
    <select id="getMyAllProductListByUserEmail" parameterType="String" resultType="Product">
	    SELECT 
	    	PRODUCTID,
	    	CATEGORYID,
	    	PNAME AS p_name,
	    	DESCRIPTION,
	    	PRICE,
	    	PRODUCTIMG,
	    	USERID 
	      FROM PRODUCT
	      WHERE PRODUCT.USERID =#{param1}
	      
    </select>
    
    <insert id="insertFunding" parameterType="Funding">
    	INSERT INTO FUNDING
    	(FUNDINGID,
	    	CATEGORYID,
	    	PRODUCTID,
	    	CALENDAR,
	    	PRODUCTINFORMATION,
	    	TITLE,
	    	CREATE_AT,
	    	UPDATE_AT)
    	VALUES
    	(#{fundingId},#{categoryId},#{productId},#{calendar},#{productInformation},#{title},#{createAt},#{updateAt})
    	<selectKey keyProperty="fundingId" resultType="String" order="BEFORE">
			SELECT FUNDING_SEQ.NEXTVAL AS fundingId FROM DUAL
		</selectKey>
    </insert>

    <select id="getFundingById" resultType="Funding">
	    SELECT
	    	FUNDINGID,
	    	CATEGORYID,
	    	PRODUCTID,
	    	CALENDAR,
	    	PRODUCTINFORMATION,
	    	TITLE,
	    	CREATE_AT,
	    	UPDATE_AT
	    FROM FUNDING
	    WHERE USER_TABLE.FUNDINGID = #{param1}
  </select>
  

</mapper>