<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.plantmall.dao.mybatis.mapper.FundingRelationMapper">
<cache />

	<select resultType="FundingOrder" id="getFundingOrder">
		SELECT *
		FROM FUNDINGRELATION WHERE FUNDINGRELATION.FUNDINGRELATIONID = #{param1}
	</select>

	<select resultType="FundingOrder" id="getAllFundingOrderListByBuyerId">
		SELECT *
		FROM FUNDINGRELATION WHERE FUNDINGRELATION.BUYERID = #{param1} ORDER BY create_at DESC
	</select>
	
	<insert id="insertFundingOrder" parameterType="FundingOrder">
	BEGIN
		INSERT INTO FUNDINGRELATION
		(FUNDINGRELATIONID,
		 STATUS,
		 BUYERID,
		 FUNDINGID,
		 CREATE_AT,
		 CREDITCARD,
		 EXPIRYDATE,
		 CARDTYPE,
		 QUANTITY,
		 TOTALPRICE,
		 USERNAME,
		 PHONENUMBER,
		 SHIPADDRESS)
		VALUES (#{fundingRelationId},
		'1',
		#{userId},
		#{fundingId},
		SYSDATE,
		#{creditCard},
		#{expiryDate},
		#{cardType},
		#{quantity},
		#{totalPrice},
		#{userName},
		#{phoneNumber},
		#{shipAddress});
		<selectKey keyProperty="fundingRelationId" resultType="String" order="BEFORE">
			SELECT FUNDINGRELATION_SEQ.NEXTVAL AS FUNDINGRELATIONID FROM DUAL
		</selectKey>
		
		UPDATE FUNDING
		SET ORDERNUM = ORDERNUM+1
		WHERE FUNDINGID = #{fundingId};
		END;
	</insert>
	
	
	<update id="deleteFundingOrder">
		UPDATE FUNDINGRELATION
		SET STATUS=0
		WHERE FUNDINGRELATION.FUNDINGRELATIONID = #{param1}
	</update>
	

</mapper>