<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.plantmall.dao.mybatis.mapper.ItemMapper">
<cache />

	<select id="getItemListByProduct" resultType="Item">
		SELECT I.ITEMID, I.PRODUCTID, LISTPRICE, UNITCOST, USERID AS supplierId, P_NAME AS "product.p_name" 
		FROM ITEM I, PRODUCT P
		WHERER I.PRODUCTID = P.PRODUCTID AND I.PRODUCTID = #{value}
	</select>

	<select id="getItem" resultType="Item">
		SELECT I.ITEMID, I.PRODUCTID, LISTPRICE, UNITCOST, USERID AS supplierId, P_NAME AS "product.p_name" 
		FROM ITEM I, PRODUCT P
		WHERER I.PRODUCIT = P.PRODUCT AND I.ITEMID = #{value}
	</select>

</mapper>