<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.plantmall.dao.mybatis.mapper.OrderMapper">
<cache />

	<select resultType="Order" id="getOrder">
		SELECT ORDERID, USERID, ORDERDATE, SHIPADDRESS, BILLADDRESS, CREDITCARD, EXPIRYDATE, CARDTYPE, STATUS
		FROM ORDER_TABLE WHERE ORDER_TABLE.ORDERID = #{VALUE}
	</select>

	<select resultType="Order" id="getOrdersByUserId">
		SELECT ORDERID, USERID, ORDERDATE, SHIPADDRESS, BILLADDRESS, CREDITCARD, EXPIRYDATE, CARDTYPE, STATUS
		FROM ORDER_TABLE WHERE ORDER_TABLE.USERID = #{VALUE} ORDER BY ORDERDATE
	</select>

	<insert id="insertOrder">
		INSERT INTO ORDER_TABLE
		VALUES (#{orderId}, #{shipAddress}, #{billAddress}, #{totalPrice}, #{creditCard}, #{expiryDate}, #{locale}, #{status}, #{userId}, #{orderDate}, #{cardType})
	</insert>

</mapper>