<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.plantmall.dao.mybatis.mapper.OrderMapper">
<cache />

	<select resultType="Order" id="getOrder">
		SELECT ORDERID, USERID, USERNAME, ORDERDATE, SHIPADDRESS, CREDITCARD, EXPIRYDATE, CARDTYPE 
		FROM ORDER_TABLE WHERE ORDER_TABLE.ORDERID = #{orderId}
	</select>

	<select resultType="Order" id="getOrdersByUserId">
		SELECT ORDERID, USERID, USERNAME, ORDERDATE, SHIPADDRESS, CREDITCARD, EXPIRYDATE, CARDTYPE 
		FROM ORDER_TABLE WHERE ORDER_TABLE.USERID = #{userId} ORDER BY ORDERDATE
	</select>

	<insert id="insertOrder">
		INSERT INTO ORDER_TABLE
		VALUES (#{orderId}, #{shipAddress}, #{totalPrice}, #{creditCard}, #{expiryDate}, #{userId}, #{orderDate}, #{cardType}, #{userName})
	</insert>

</mapper>