<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.plantmall.dao.mybatis.mapper.ProductMapper">

  <cache />

  <select id="getProduct" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      CATEGORYID,
      USERID,
      PNAME as p_name,
      DESCRIPTION,
      PRICE,
      PRODUCTIMG
    FROM PRODUCT
    WHERE PRODUCTID = #{productId}
  </select>

  <select id="getProductListByCategory" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      CATEGORYID,
      USERID,
      PNAME as p_name,
      DESCRIPTION,
      PRICE,
      PRODUCTIMG
    FROM PRODUCT
    WHERE CATEGORYID = #{value}
  </select>

  <select id="searchProductList" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      CATEGORYID,
      USERID,
      PNAME as p_name,
      DESCRIPTION,
      PRICE,
      PRODUCTIMG
    FROM PRODUCT
    WHERE lower(name) like #{value}
  </select>
  
  <!-- select id="showProductList" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      CATEGORYID,
      USERID,
      PNAME as p_name,
      PRICE,
      PRODUCTIMG,
      USERNAME
    FROM PRODUCT, USER_TABLE
    WHERE PRODUCTID = #{productId}
    AND PRODUCT.USERID = USER_TABLE.USERID
  </select -->
  
  <select id="getAllProduct" resultType="Product">
    SELECT
      PRODUCTID,
      CATEGORYID,
      USERID,
      PNAME as p_name,
      DESCRIPTION,
      PRICE,
      PRODUCTIMG
    FROM PRODUCT
  </select>
  
  <insert id="insertProduct" parameterType="Product">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT Product_seq.nextval AS id FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT (PRODUCTID, CATEGORYID, PNAME, DESCRIPTION, PRICE, PRODUCTIMG, USERID)
		VALUES (#{productid}, #{categoryid}, #{p_name}, #{description}, #{price}, #{productimg}, #{userid})
		  
  </insert>
  
  <update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT 
		SET CATEGORYID = #{categoryid}, PNAME = #{p_name}, DESCRIPTION = #{description}, PRICE = #{price}, PRODUCTIMG = #{productimg}
		WHERE PRODUCTID = #{productid} and USERID = #{userid}
  </update>
  
  <delete id="deleteProduct" parameterType="Product">
		DELETE FROM PRODUCT
		WHERE PRODUCTID = #{productid} and USERID = #{userid}		  
  </delete>
  
</mapper>